

p
{
  display: flex;
  margin: 0;
  padding: 0;
  justify-items: center;
  align-items: center;
}

input
{
  width: 30%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  border: solid 1px #000000;
  font-size: 28px;
  padding-left: 5px;
  margin: 20px;
  outline: none;
  padding: 5px;
}


button
{
  width: 50px;
  height: 50px;
  font-size: 28px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  margin: 20px;
  margin-left: 0px;
  padding: 5px;
}

