@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



*, html
{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}


ul {
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00acbf;
    height: 6vh;
    z-index: 3;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #000000;
    font-size: 28px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all ease-in 0.5s;
  }

  li a:hover {
    background-color: #05f7db;
  }
















.head
{
    margin-top:10vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
}


h1
{
    font-family: 'Roboto', sans-serif;
    font-size: 82px;
}

h2
{
    font-size: 32px;
    font-weight: bold;
}

h3
{
    font-size: 25px;
}


.desc
{

    width: 80%;
    text-align:justify;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.card h1
{
  font-size:56px;
}


.desc h2
{
    text-align: center;
}


.card {
  position: fixed;
  top:5vh;
  left: 15%;
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.3));
  width: 70%;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  border-radius: 20px;
  box-shadow: 9px 10px 18px 0px rgba(0, 0, 0, 0.7);
  z-index: 2;
  backdrop-filter: blur(5px);
}


.blur
{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}
