


<div class="menu">
  <ul>
    <li><a routerLink="/sdg11b" routerLinkActive="active">SDG11.B</a></li>
    <li><a routerLink="/sdg116" routerLinkActive="active">SDG11.6</a></li>
    <li><a routerLink="/sdg115" routerLinkActive="active">SDG11.5</a></li>
    <li><a routerLink="/sdg111" routerLinkActive="active">SDG11.1</a></li>
    <li><a routerLink="/" routerActiveLink="active">Home</a></li>
  </ul>
</div>







    <div class="head">
        <h1>SDG 11: Sustainable cities and communities</h1>
        <div class="img">
            <img src="https://datatopics.worldbank.org/sdgatlas/static/media/goal-11.5d3d902b.png" alt="">
        </div>
        <div class="desc">
            <h3>
                <h2>Cos’è l’SDG?</h2>
                Sdg sta per “Sustainable Development Goals”, cioè gli Obiettivi per lo Sviluppo Sostenibile. Sono costituiti da 17 punti, individuati dall'Onu nel 2015 con un orizzonte che arriva fino al 2030.
                In particolare qui parleremo dell’ undicesimo obiettivo: Sustainable cities and communities.
            </h3>

            <div class="left">
                <h3>
                <h2>Introduzione SDG 11</h2>
                La popolazione mondiale è in costante aumento. Per accogliere tutti, abbiamo bisogno di costruire città moderne e sostenibili. Per sopravvivere e prosperare, abbiamo bisogno di una pianificazione urbana
                nuova e intelligente che crei città sicure, accessibili e resilienti con condizioni di vita verdi e culturalmente stimolanti.
                </h3>
            </div>
            <div class="right">
                <h3>
                <h2>Obbiettivo SDG 11</h2>
                Riconoscendo l'importante ruolo delle città nello sviluppo globale, SDG 11 mira a "rendere le città e gli insediamenti umani inclusivi, sicuri, resilienti e sostenibili." L'obiettivo SDG 11.6 dà priorità alla riduzione degli impatti ambientali negativi delle città, compreso l'inquinamento atmosferico all'aperto.
                Per raggiungere l'obiettivo SDG 11.6, le città dovranno attuare strategie aggressive e collaborare con le aree rurali per ridurre l'inquinamento atmosferico attraverso le divisioni municipali. Esempi dalla Cina mostrano che il cambiamento è possibile. Con soluzioni basate sui dati, le città possono gestire l'inquinamento atmosferico e promuovere la resilienza e la sostenibilità.
                </h3>
            </div>

        </div>
    </div>
<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
