


<div class="menu">
  <ul>
    <li><a routerLink="/sdg11b" routerLinkActive="active">SDG11.B</a></li>
    <li><a routerLink="/sdg116" routerLinkActive="active">SDG11.6</a></li>
    <li><a routerLink="/sdg115" routerLinkActive="active">SDG11.5</a></li>
    <li><a routerLink="/sdg111" routerLinkActive="active">SDG11.1</a></li>
    <li><a routerLink="/" routerActiveLink="active">Home</a></li>
  </ul>
</div>







    <div class="head">
        <h1>SDG 11: Sustainable cities and communities</h1>
        <div class="img">
            <img src="https://datatopics.worldbank.org/sdgatlas/static/media/goal-11.5d3d902b.png" alt="">
        </div>
        <div class="desc">
            <h3>
                <h2>Cos’è l’SDG?</h2>
                Sdg sta per “Sustainable Development Goals”, cioè gli Obiettivi per lo Sviluppo Sostenibile. Sono costituiti da 17 punti, individuati dall'Onu nel 2015 con un orizzonte che arriva fino al 2030.
                In particolare qui parleremo dell’ undicesimo obiettivo: Sustainable cities and communities.
            </h3>

            <div class="left">
                <h3>
                <h2>Introduzione SDG 11</h2>
                La popolazione mondiale è in costante aumento. Per accogliere tutti, abbiamo bisogno di costruire città moderne e sostenibili. Per sopravvivere e prosperare, abbiamo bisogno di una pianificazione urbana
                nuova e intelligente che crei città sicure, accessibili e resilienti con condizioni di vita verdi e culturalmente stimolanti.
                </h3>
            </div>
            <div class="right">
                <h3>
                <h2>Obbiettivo SDG 11</h2>
                Riconoscendo l'importante ruolo delle città nello sviluppo globale, SDG 11 mira a "rendere le città e gli insediamenti umani inclusivi, sicuri, resilienti e sostenibili." L'obiettivo SDG 11.6 dà priorità alla riduzione degli impatti ambientali negativi delle città, compreso l'inquinamento atmosferico all'aperto.
                Per raggiungere l'obiettivo SDG 11.6, le città dovranno attuare strategie aggressive e collaborare con le aree rurali per ridurre l'inquinamento atmosferico attraverso le divisioni municipali. Esempi dalla Cina mostrano che il cambiamento è possibile. Con soluzioni basate sui dati, le città possono gestire l'inquinamento atmosferico e promuovere la resilienza e la sostenibilità.
                </h3>
            </div>

        </div>
    </div>

    <div class="relazione">
        <h2>Inquinamento</h2>
        <h3>
        Ogni anno muoiono 4,2 milioni di persone in tutto il mondo a causa dell'inquinamento dell’area. Gli inquinanti principali dell’area sono delle micro particelle del diametro di 2,5 micron o meno, sono particelle di polvere, fumo o metalli pesanti, la loro dimensione è il principale problema, infatti essendo così piccoli sono in grado di penetrare le vie respiratorie, creando diversi problemi di salute.

        Nel 2017 il 91% della popolazione mondiale ha vissuto in luoghi dove l’inquinamento superava i 10 microgrammi per metro cubo, in molti paesi il 100% della popolazione è entrata in contatto con valori al di sopra di quelli della linea guida.


        L’inquinamento ha ridotto l’aspettativa di vita mondiale fino a quasi un anno nel 2016, molto più di quanto non faccia l’AIDS/HIV o la malaria, che di solito abbassano l’aspettativa di vita di 3/4 mesi. Il valore va dal 1,5 mesi in Svezia, e un anno e 10 mesi in Bangladesh.
        I paesi più inquinati attualmente sono Cina ed India, secondo uno studio condotto nel 2018.
        I dati sull'inquinamento vengono generalmente misurati utilizzando stazioni di monitoraggio a terra e più recentemente utilizzando dati satellitari. Sebbene siano utili per valutare i modelli spaziali e temporali e per identificare i punti caldi, i dati satellitari hanno dei limiti perché le nuvole e le precipitazioni spesso oscurano i satelliti di rilevamento. Quindi gli scienziati si affidano a stazioni di monitoraggio a terra per informazioni più precise. Le stazioni si trovano generalmente solo nelle città e richiedono apparecchiature costose, competenze tecniche e supporto normativo.

        Un report recente della world bank, dimostra che quando la densità della popolazione raddoppia, il tasso di inquinamento aumenta, come è stato per il sud dell’asia, dove questo tasso è aumentato del 35 percento.
        Ovviamente l’alta densità industriale contribuisce in modo negativo all’inquinamento, ma anche le attività rurali ne fanno parte, infatti utilizzando grandi quantità di fertilizzanti, si genera inquinamento aereo.
        </h3>
        <h2>
        Piano della cina per ridurre l’inquinamento
        </h2>
        <h3>
        Il Piano d'azione nazionale per la qualità dell'aria della Cina ha stanziato 270 miliardi di dollari per ridurre la dipendenza dal carbone, limitare le emissioni dei veicoli e aumentare la quota di energia rinnovabile nel mix energetico. La Cina si è inoltre impegnata a una maggiore trasparenza nella raccolta e diffusione dei dati sulla qualità dell'aria ambiente. Tra il 2013 e il 2017 Pechino ha ridotto il consumo annuo di carbone da 23 milioni di tonnellate a 11 milioni di tonnellate con l'obiettivo di ridurlo ulteriormente a 5 milioni di tonnellate entro il 2020. La città ha anche cercato di ridurre le emissioni nette piantando alberi e implementando tecniche di pulizia delle strade per controllare PM2,5 spazzato intorno da particelle di polvere. La città ha adottato una vasta gamma di misure tra cui incoraggiare le opzioni di trasporto pubblico, il divieto di automobili ad alto inquinamento, e sovvenzionare auto ad energia pulita.
        </h3>
        <h2>
        Benefici del covid sull'ambiente, ma non sufficienti
        </h2>
        <h3>
        Più recentemente, alcune città hanno aria più pulita a causa di severe restrizioni sull'attività economica a causa di COVID-19. La concentrazione di biossido di azoto prodotto dal traffico veicolare è fortemente diminuita. Ma il declino degli inquinanti nocivi come il PM2,5 non è stato così marcato. Fattori come la combustione di combustibili fossili e polveri superano ancora qualsiasi riduzione causata dalla minore attività economica dovuta a COVID-19. Il fatto che le misure locali da sole non possano ridurre in modo sostanziale il particolato rafforza la valutazione della Banca mondiale secondo cui l'aria non conosce confini; nessuna città può affrontarlo da sola. Poiché il particolato viaggia attraverso gli Stati e tra le città e le zone rurali, è necessaria un'azione coordinata e concertata.
        </h3>
        <h2>
        Le città si espandono più velocemente della loro popolazione urbana
        </h2>
        <h3>
        Nella maggior parte dei paesi, la crescita del consumo di suolo delle città è più rapida della crescita della popolazione urbana. Con un aumento della popolazione urbana in tutto il mondo, questo modello nel rapporto tra la crescita del consumo di suolo e la crescita della popolazione (obiettivo SDG 11.3) indica una crescita non pianificata delle città.
        </h3>
        <h2>
        La popolazione degli slum è più alta dell'Africa subsahariana anche se la maggior parte della sua popolazione è rurale
        </h2>
        <h3>
        Più del 50 per cento della popolazione mondiale vive oggi nelle aree urbane. Quasi un terzo di loro vive nelle baraccopoli (obiettivo SDG 11.1). Mentre l'America Latina e i Caraibi hanno la più alta percentuale di popolazione urbana (81%), l'Africa subsahariana ha la più alta percentuale di abitanti delle baraccopoli (18%) anche se la percentuale di persone che vivono nelle aree urbane è molto più piccola (34%).
        </h3>
    </div>





<div>
  <router-outlet ></router-outlet>
</div>
